body{
  background: #f0eef8;
}
a{
  color: rgb(248, 6, 46);
  text-decoration: none;
}
.App{
  max-width: 960px;
  margin: 0 auto;
}





.App-header{
  margin: 30px 0;

}


 
.App-logo{
  max-width: 200px;
  display: block;
  margin: 0 auto;
}
.App-footer{
  text-align: center;
  margin: 30px 0;
}

.Dictionary{
  text-align: center;
}
