.Dictionary section{
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 10px rgba(0 0 0 / 10%);
    margin: 20px 0;
    

}

.Dictionary input{
    width: 100%;
    border-radius: 10px;
    padding: 6px 4px;
    border: 2px solid #ddd;
    color: rgb(40, 40, 92);
}
